<h2>Post yourself!</h2>

<%= render 'form' %>

<table class="table table-striped">
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.content %></td>
        <td>
          <% if post.purchased_at %>
            <span class="label label-success">Submitted</span> at <%= post.purchased_at %>
          <% else %>
            <%= link_to "Submit now", new_post_payment_path(post) %>
          <% end %>
        </td>
        <td>Created at: <%= post.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>